<footer class="text-center p-5 bg-light mt-10">
    <div class="container flex-grid">
        <div class="row" style="margin-top: 8px; margin-bottom: 20px;">
            <div class="cell-12">
                <span class="footerItem0">Hello, World~</span>
                <span class="footerItem1">&copy; 2019 <a href="http://www.ituna.ltd/">杭州吐纳科技有限公司</a></span>
                <span class="footerItem1">0.0.1 alpha @*@Chuci.Business.Utility.GetAppSetting( "Version" )*@</span>
            </div>
        </div>
    </div>
</footer>

@section ScriptPart{
    <!-- 百度统计 -->
    <div style="display:none;">
    </div>
}
