@page
@*@model ElectronNET.Views.Default.IndexModel*@
@{
}

<div class="container hero pt-md-3 pb-md-3">
    <div class="container text-center">
        <div class="h1 m-10"><span class="reduce-1 enlarge-1-md">Hello, World!</span></div>
        <!-- <div class="text-leader">
            <p class="reduce-1 enlarge-1-md pl-5-fs pr-5-fs pl-20-md pr-20-md">
                Metro 4 is an open source toolkit for developing with HTML, CSS, and JS.
                Quickly prototype your ideas or build your entire app with responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
            </p>
        </div>
        <hr class="mt-10 mb-10 w-50" style="background-color: #E1E1E1">
        <div class="text-leader2">
            <p class="reduce-1 enlarge-1-md pl-5-fs pr-5-fs pl-20-md pr-20-md">
                Build responsive, mobile-first projects on the web with the first front-end component library in Metro Style.
            </p>
        </div> -->
    </div>
</div>

<div class="container-fluid bg-white fg-dark">
    <div class="container text-center">

        <div class="feature-table row mt-10">
            <div class="cell-md-4">
                <div class="info-panel rounded no-overflow shadow-3">
                    <div class="info-panel-header bg-cyan fg-white"><a class="linktext" href="http://www.chuci.info">Chuci</a></div>
                    <div class="info-panel-content">
                        <div class="m-10"><a href="http://www.chuci.info"><img src="~/images/chuci.120x120.jpg"></a></div>
                        <span class="text-leader2">Knowledge platform based on Semantic Web.</span>
                    </div>
                    <!-- <div class="info-panel-footer">
                        <a href="http://www.chuci.info" class="button large outline success rounded">Visit</a>
                    </div> -->
                </div>
            </div>
            <div class="cell-md-4">
                <div class="info-panel rounded no-overflow shadow-3">
                    <div class="info-panel-header bg-orange fg-white"><a class="linktext" href="http://lore.chuci.info">Lore</a></div>
                    <div class="info-panel-content">
                        <div class="m-10"><a href="http://lore.chuci.info"><img src="~/images/Lore.Square150x150Logo.scale-100.jpg"></a></div>
                        <span class="text-leader2">&gt; note for geeks_</span>
                    </div>
                    <!-- <div class="info-panel-footer">
                        <a href="http://lore.chuci.info" class="button large outline secondary rounded">Visit</a>
                    </div> -->
                </div>
            </div>
            <div class="cell-md-4">
                <div class="info-panel rounded no-overflow shadow-3">
                    <div class="info-panel-header bg-emerald fg-white"><a class="linktext" href="http://magic.chuci.info">Magic</a></div>
                    <div class="info-panel-content">
                        <div><a href="http://magic.chuci.info"><img src="~/images/magic-256x256.png"></a></div>
                        <span class="text-leader2">Add magic to your corporation</span>
                    </div>
                    <!-- <div class="info-panel-footer">
                        <a href="http://magic.chuci.info" class="button large outline warning rounded">Visit</a>
                    </div> -->
                </div>
            </div>

        </div>

        <div class="feature-table row mt-10">
            <div class="cell-md-4">
                <div class="info-panel rounded no-overflow shadow-3">
                    <div class="info-panel-header bg-violet fg-white"><a class="linktext" href="http://nodes.chuci.info">Nodes</a></div>
                    <div class="info-panel-content">
                        <div><a href="http://nodes.chuci.info"><img src="~/images/Nodes.png"></a></div>
                        <span class="text-leader2">One node. One function. One possibility.</span>
                    </div>
                    <!-- <div class="info-panel-footer">
                        <a href="http://nodes.chuci.info" class="button large outline warning rounded">Visit</a>
                    </div> -->
                </div>
            </div>

            <div class="cell-md-4">
                <div class="info-panel rounded no-overflow shadow-3">
                    <div class="info-panel-header bg-light fg-violet">吐纳科技</div>
                    <div class="info-panel-content">
                        <div class="m-10"><img src="~/images/logo-128x128.jpg"></div>
                        <!-- <span class="text-leader2">One node. One function. One possibility.</span> -->
                    </div>
                    <!-- <div class="info-panel-footer">
                        <a href="http://nodes.chuci.info" class="button large outline warning rounded">Visit</a>
                    </div> -->
                </div>
            </div>

            <div class="cell-md-4">
                <div class="info-panel rounded no-overflow shadow-3">
                    <div class="info-panel-header bg-magenta fg-white"><a class="linktext" href="http://veins.design">Veins.Design</a></div>
                    <div class="info-panel-content">
                        <div class="m-10"><a href="http://veins.design"><img src="~/images/veins-237x237.png"></a></div>
                        <span class="text-leader2">Art | Design | Share</span>
                    </div>
                    <!-- <div class="info-panel-footer">
                        <a href="http://veins.design" class="button large outline warning rounded">Visit</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
